{% extends "base.html" %}
{% load static %}

{% include "navbar.html" %}

{% block content1 %}
<div class="row my-5">
    <div class="col-12 d-flex justify-content-center align-itmes-center">
        <div class="circular-image-container">
            <img class="circular-image" src="{% static 'images/imd1.jpg' %}" alt="image">
        </div>
    </div>
</div>

<div class="col-12 text-center mt-3">
    <h4 class="title typing-animation" data-text="Hi, My Name is">Hi, My Name is</h4>
    <div class="name">
        <h1 class="typing-animation" data-text="Rupesh Kumar Daha">Rupesh Kumar Daha</h1>
        <h1 class="typing-animation" data-text="I am a YouTuber">I am a student of Computer Science</h1>
        <h1 class="typing-animation" data-text="I am a YouTuber">Interested to work in Data Science and Web</h1>
        <h1 class="typing-animation" data-text="I am a YouTuber">Domain</h1>
    </div>
</div>

<div class="col-12 text-center mt-5">
    
    </div>
</div>

{% endblock content1 %}

<!-- Footer Section -->


