{% extends "base.html" %}
{% load static %}
{% block content1 %}

<div class="row my-4">
    <div class="container mt-5">
        <h2 class="text-center mb-4" style="color: #4fffb0;">My Projects</h2>
        
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="project-card bg-white p-3 shadow-sm" style="border-radius: 10px;">
                    <div class="image-container">
                        <img src="{% static 'images/bookRecommendation.png' %}" alt="Book Recommendation System" class="project-img" height="200px" width="380px" style="border-radius: 5px;">
                    </div>
                    <h4 class="project-title mt-2">Book Recommendation System </h4>
                    <p class="project-description">This is a book recommendation system implemented using Django and machine learning. It suggests books similar to the one provided by the user. </p>
                    <a href="https://github.com/daharupesh/BookRecommendation-System-Python-and-ML" target="_blank" class="btn btn-primary">View Project</a>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="project-card bg-white p-3 shadow-sm" style="border-radius: 10px;">
                    <div class="image-container">
                        <img src="https://github.com/daharupesh/EwasteManagement-System/blob/main/body.png?raw=true" alt="Project 2" class="project-img" height="200px" width="380px" style="border-radius: 5px;">
                    </div>
                    <h4 class="project-title mt-2">E-Waste Management System</h4>
                    <p class="project-description">This is a MERN stack application designed for  management of electronic waste. The application is built using React.js, Node.js, and MongoDB.</p>
                    <a href="https://github.com/daharupesh/EwasteManagement-System?tab=readme-ov-file" target="_blank" class="btn btn-primary">View Project</a>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="project-card bg-white p-3 shadow-sm" style="border-radius: 10px;">
                    <div class="image-container">
                        <img src="{% static 'images/eda.png' %}" alt="Project 3" class="project-img" height="200px" width="380px" style="border-radius: 5px;">
                    </div>
                    <h4 class="project-title mt-2">EDA on Hotel Cancelation</h4>
                    <p class="project-description">The project aims to analyze reservation data for City and Resort Hotels to identify patterns and trends in cancellations. used tech Pandas, Matplotlib, Seaborn</p>
                    <a href="https://github.com/daharupesh/Hotal-Booking-Dataset-on-EDA" target="_blank" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="project-card bg-white p-3 shadow-sm" style="border-radius: 10px;">
                    <div class="image-container">
                        <img src="https://www.teamly.com/blog/wp-content/uploads/2022/01/Digital-File-Organization.png" alt="Project 1" class="project-img" height="200px" width="380px" style="border-radius: 5px;">
                    </div>
                    <h4 class="project-title mt-2">Auto File Organization</h4>
                    <p class="project-description">Auto File Organization helps to organize files quickly by moving all the files to its respective folders accordingly to their extension.</p>
                    <a href="https://github.com/daharupesh/Auto-File-Organization" target="_blank" class="btn btn-primary">View Project</a>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="project-card bg-white p-3 shadow-sm" style="border-radius: 10px;">
                    <div class="image-container">
                        <img src="https://github.com/daharupesh/NotepadUsingTkinter/blob/main/image/2.png?raw=true" alt="Project 2" class="project-img" height="200px" width="380px" style="border-radius: 5px;">
                    </div>
                    <h4 class="project-title mt-2">Notepad Clone using Tkinter</h4>
                    <p class="project-description">Windows Notepad, such as creating, opening, saving, and editing text files, along with additional features like find, replace, and adjusting the font size.</p>
                    <a href="https://github.com/daharupesh/NotepadUsingTkinter?tab=readme-ov-file" target="_blank" class="btn btn-primary">View Project</a>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="project-card bg-white p-3 shadow-sm" style="border-radius: 10px;">
                    <div class="image-container">
                        <img src="https://github.com/daharupesh/GunDetectionSystemProject/blob/main/gundetection.png?raw=true" alt="Project 3" class="project-img" height="200px" width="380px" style="border-radius: 5px;">
                    </div>
                    <h4 class="project-title mt-2">Gun Detector App</h4>
                    <p class="project-description">This project is a real-time gun detection system using OpenCV, a Haar Cascade classifier, and Pygame for sound alerts.</p>
                    <a href="https://github.com/daharupesh/GunDetectionSystemProject?tab=readme-ov-file" target="_blank" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="project-card bg-white p-3 shadow-sm" style="border-radius: 10px;">
                    <div class="image-container">
                        <img src="https://www.webharvy.com/images/web%20scraping.png" alt="Project 1" class="project-img" height="200px" width="380px" style="border-radius: 5px;">
                    </div>
                    <h4 class="project-title mt-2">Webscraping Data Collection</h4>
                    <p class="project-description">Python-based web scraper that extracts company data (company name, description, rating, and reviews) from AmbitionBox and saves the results into a CSV file.</p>
                    <a href="https://github.com/daharupesh/WebScrapingDataToStoreIntoCSVfiles" target="_blank" class="btn btn-primary">View Project</a>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="project-card bg-white p-3 shadow-sm" style="border-radius: 10px;">
                    <div class="image-container">
                        <img src="https://d2jdgazzki9vjm.cloudfront.net/tutorial/machine-learning/images/linear-regression-in-machine-learning.png" alt="Project 2" class="project-img" height="200px" width="380px" style="border-radius: 5px;">
                    </div>
                    <h4 class="project-title mt-2">Linear Regression| ML Project</h4>
                    <p class="project-description">Demonstrates how to use Linear Regression to predict product of two numerical features. Implementation of data preprocessing, training, and model evaluation.</p>
                    <a href="https://github.com/daharupesh/Machine-Learning-Model-to-Multyply-tow-number" target="_blank" class="btn btn-primary">View Project</a>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="project-card bg-white p-3 shadow-sm" style="border-radius: 10px;">
                    <div class="image-container">
                        <img src="{% static 'images/image.png' %}" alt="Project 3" class="project-img" height="200px" width="380px" style="border-radius: 5px;">
                    </div>
                    <h4 class="project-title mt-2">VateCare Mobile Application</h4>
                    <p class="project-description">VetCare is an Android mobile app developed in Java and XML using Android Studio. Platform to connect to veterinarians and receive prescriptions to their pets</p>
                    <a href="https://github.com/daharupesh/VateCare-App/tree/main" target="_blank" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="project-card bg-white p-3 shadow-sm" style="border-radius: 10px;">
                    <div class="image-container">
                        <img src="https://github.com/daharupesh/FaceDetectionSystemWithAlarm/blob/main/Screenshot/Screenshot%20(313).png?raw=true" alt="Project 1" class="project-img" height="200px" width="380px" style="border-radius: 5px;">
                    </div>
                    <h4 class="project-title mt-2">Face Detectoin With Alarm</h4>
                    <p class="project-description">This project uses OpenCV for real-time face detection and Pygame for playing an alarm sound when a face is detected. </p>
                    <a href="https://github.com/daharupesh/FaceDetectionSystemWithAlarm?tab=readme-ov-file" target="_blank" class="btn btn-primary">View Project</a>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="project-card bg-white p-3 shadow-sm" style="border-radius: 10px;">
                    <div class="image-container">
                        <img src="https://yotasoftware.com/blogs/wp-content/uploads/2021/10/extract-email-addresses-from-Gmail-1.png" alt="Project 2" class="project-img" height="200px" width="380px" style="border-radius: 5px;">
                    </div>
                    <h4 class="project-title mt-2">Gmail Extraction to CSV Project</h4>
                    <p class="project-description">Designed to extract email Ids from emails and save it in a CSV format. Using IMAP protocol, retrieves email info, and extracts the email IDs to create CSV file</p>
                    <a href="https://github.com/daharupesh/EmailExtractionFromGmailBox" target="_blank" class="btn btn-primary">View Project</a>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="project-card bg-white p-3 shadow-sm" style="border-radius: 10px;">
                    <div class="image-container">
                        <img src="{% static 'images/chatapp.png' %}" alt="Project 3" class="project-img" height="200px" width="380px" style="border-radius: 5px;">
                    </div>
                    <h4 class="project-title mt-2">Android Chat Application</h4>
                    <p class="project-description">This Android chat application is developed using Kotlin.features message sending and receiving,and message display using RecyclerView and CardView.</p>
                    <a href="https://github.com/daharupesh/ChatApplication" target="_blank" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content1 %}
